<!DOCTYPE html>
<html lang="en">
<%- include('./globals/head') %>

    <body>
        <%- include('./globals/preloader') %>

            <div id="main-wrapper">
                <%- include('globals/navHeader') %>
                    <%- include('globals/header') %>
                        <%- include('globals/sidebar') %>

                            <!--**********************************
          Content body start
    ***********************************-->
                            <div class="content-body">
                                <div class="container">
                                    <div class="d-flex justify-content-between mb-4 flex-wrap">
                                        <div class="input-group w-auto mb-2 mb-xxl-0">
                                            <input type="text" placeholder="Search by name, city, or mobile"
                                                class="form-control search-input" style="width: 300px;">
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card mt-2">
                                                <div class="card-body">
                                                    <div class="table-responsive text-center">
                                                        <table class="table table-striped align-middle main-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Name</th>
                                                                    <th>Gender</th>
                                                                    <th>City</th>
                                                                    <th>State</th>
                                                                    <th>Mobile</th>
                                                                    <th>Desease Name</th>
                                                                    <th>Coordinator</th>
                                                                    <th>Report</th>
                                                                    <th>Patient Status</th>
                                                                    <th>Doctor Status</th>
                                                                    <th>Support Status</th>
                                                                    <th>Office Status</th>
                                                                    <th>Admin Status</th>
                                                                    <th>Post Office Status</th>
                                                                    <th>Tracking Id</th>
                                                                    <th>Track</th>
                                                                    <th>Applied On</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (applications.length> 0) { %>
                                                                    <% applications.forEach((app, index)=> { %>
                                                                        <tr id="tr-<%= app._id %>">
                                                                            <td>
                                                                                <%= index + 1 %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.patientName %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.gender %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.cityOrDistrict %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.state %>
                                                                            </td>
                                                                            <td>
                                                                                <a
                                                                                    href="tel:+91 <%= app.mobileNumber %>">
                                                                                    <%= app.mobileNumber %>
                                                                                </a>
                                                                            </td>

                                                                            <td>
                                                                                <%= app.diseaseName %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.referrer? app.referrer?.name + ' : ' + app.referredBy : app.referredBy %>
                                                                            </td>
                                                                            <td>
                                                                                <a href="javascript:void(0)"
                                                                                    data-id="<%= app._id %>"
                                                                                    class="view-btn">View Report</a>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.patientStatus
                                                                                    || 'N/A' %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.doctorStatus
                                                                                    || 'N/A' %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.supportStatus
                                                                                    || 'N/A' %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.officeStatus
                                                                                    || 'N/A' %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.adminStatus || 'N/A'
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.postOfficeStatus
                                                                                    || 'N/A' %>
                                                                            </td>
                                                                            <td>
                                                                                <%= app.otherStatus?.trackingIdStatus
                                                                                    || 'N/A' %>
                                                                            </td>
                                                                            <td><a href="javascript:void(0)"
                                                                                    data-id="<%= app.otherStatus?.trackingIdStatus%>"
                                                                                    class="btn-link me-1 track-btn">Track</a>
                                                                            </td>

                                                                            <td>
                                                                                <%= new
                                                                                    Date(app.createdAt).toLocaleDateString()
                                                                                    %>
                                                                            </td>

                                                                            <td>
                                                                                <a href="javascript:void(0)"
                                                                                    data-id="<%= app._id %>"
                                                                                    class="btn btn-sm btn-info approve-btn">Edit</a>
                                                                                <a href="javascript:void(0)"
                                                                                    data-id="<%= app._id %>"
                                                                                    class="btn btn-sm btn-danger delete-btn">Delete</a>
                                                                            </td>
                                                                        </tr>
                                                                        <% }) %>
                                                                            <% } else { %>
                                                                                <tr>
                                                                                    <td colspan="10"
                                                                                        class="text-center text-muted">
                                                                                        No applications found</td>
                                                                                </tr>
                                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--**********************************
          Content body end
    ***********************************-->

                            <!-- View Modal -->
                            <div class="modal fade view-modal bd-example-modal-xl" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Medical Report</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="view-details" class="p-2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Approve Modal -->
                            <div class="modal fade approve-modal bd-example-modal-xl" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Form Approval</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="approve-details">
                                                <div class="basic-form">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--**********************************
          Footer start
    ***********************************-->
                            
                            <!--**********************************
          Footer end
    ***********************************-->

            </div>

            <!--**********************************
        Scripts
  ***********************************-->
            <script src="/vendor/global/global.min.js"></script>
            <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

            <!-- Dashboard 1 -->
            <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <script src="/js/plugins-init/datatables.init.js"></script>
            <script src="/js/custom.js"></script>
            <script src="/js/deznav-init.js"></script>
            <script src="/js/demo.js"></script>
            <script src="/js/styleSwitcher.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.23.0/sweetalert2.min.js"></script>
            <script src="/js/pages/patients.js"></script>

            <script>
                // ðŸ” Search filter
                $(document).on('keyup', '.search-input', function () {
                    const value = $(this).val().toLowerCase();
                    $('tbody tr').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });

                // ðŸ‘ View application details
                $(document).on('click', '.view-btn', function () {
                    const id = $(this).data('id');
                    fetch(`/patientform/report/${id}`)
                        .then(res => res.json())
                        .then(data => {
                            if (data.success) {
                                const report = data.report;
                                console.log(report);

                                $('#view-details').html(`
                                  <div class="row">
                                 <div class="col-12 text-center">
                                                    <img src="${report}" class="mb-3 w-75" alt="">
                                                </div>
                                    
                                `);
                                $('.view-modal').modal('show');
                            }
                        })
                        .catch(err => console.error(err));
                });

                // ðŸ‘ View application details
                $(document).on('click', '.approve-btn', function () {
                    $('.approve-modal').modal('show');
                    const id = $(this).data('id');
                    fetch(`/patientform/details/${id}`)
                        .then(res => res.json())
                        .then(data => {
                            if (data.success) {
                                const app = data.data;

                                let newHtml = `
                                <div class="row">
                                 
                                    <div class="col-md-6 my-2"><strong>Patient Name:</strong> ${app.patientName}</div>
                                    <div class="col-md-6 my-2"><strong>Father/Husband Name:</strong> ${app.fatherOrHusbandName}</div>
                                    <div class="col-md-6 my-2"><strong>Gender:</strong> ${app.gender}</div>
                                    <div class="col-md-6 my-2"><strong>City/District:</strong> ${app.cityOrDistrict}</div>
                                    <div class="col-md-6 my-2"><strong>State:</strong> ${app.state}</div>
                                    <div class="col-md-6 my-2"><strong>Mobile:</strong> <a href="tel:+91 ${app.mobileNumber}">${app.mobileNumber}</a> </div>
                                    <div class="col-md-6 my-2"><strong>Mobile:</strong> <a href="tel:+91 ${app.emergencyContact}">${app.emergencyContact}</a> </div>
                                    <div class="col-md-6 my-2"><strong>Pincode:</strong> ${app.pinCode}</div>
                                    <div class="col-md-6 my-2"><strong>Desease Name:</strong> ${app.diseaseName}</div>
                                    <div class="col-md-6 my-2"><strong>Referred By:</strong> ${data.refUser? data.refUser.name +" : ":''} ${app.referredBy}</div>
                                    <div class="col-md-6 my-2"><strong>Patient Status:</strong> ${app.otherStatus?.patientStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Doctor Status:</strong> ${app.otherStatus?.doctorStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Support Status:</strong> ${app.otherStatus?.supportStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Office Status:</strong> ${app.otherStatus?.officeStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Admin Status:</strong> ${app.otherStatus?.adminStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Post Office Status:</strong> ${app.otherStatus?.postOfficeStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Tracking Id Status:</strong> ${app.otherStatus?.trackingIdStatus || 'N/A'}</div>
                                    <div class="col-md-6 my-2"><strong>Applied On:</strong> ${new Date(app.createdAt).toLocaleString()}</div>
                                    <div class="col-md-12 mt-3">
                                    <strong>Report:</strong>
                                        <div class="col-12 text-center">
                                        <img src="${app.medicalReport}" class="mb-3"
                                            width="300" alt="">
                                        </div>
                                </div>
                               
                                  </div>
                                  <div class="basic-form">
                                                    <form id="approve-form" data-id="${id}">
                                                        <div class="row">
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Patient Status</label>
                                                                <input type="text" name="patientStatus"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label>Doctor Status </label>
                                                                <input type="text" name="doctorStatus"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label>Support Status </label>
                                                                <input type="text" name="supportStatus"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label>Office Status </label>
                                                                <input type="text" name="officeStatus"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label>Admin Status </label>
                                                                <input type="text" name="adminStatus"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label>Post Office Status </label>
                                                                <input type="text" name="postOfficeStatus"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label>TrackingÂ IdÂ Status </label>
                                                                <input type="text" name="trackingIdStatus"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                                </div>
                                `
                                $('#approve-details').html(newHtml);
                                $('.approve-modal').modal('show');
                            }
                        })
                        .catch(err => console.error(err));




                    // $('#approve-form').attr('data-id', $(this).data('id'))
                });


                // 


                // ðŸ—‘ Delete
                $(document).on('click', '.delete-btn', function () {
                    const id = $(this).data('id');
                    Swal.fire({
                        title: "Are you sure?",
                        text: "This will permanently delete the record.",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                    }).then(result => {
                        if (result.isConfirmed) {
                            fetch(`/patientform/delete/${id}`, { method: "DELETE" })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.success) {
                                        $(`#tr-${id}`).fadeOut(800);
                                        Swal.fire("Deleted!", "Patient Form deleted successfully.", "success");
                                    }
                                })
                                .catch(err => console.error(err));
                        }
                    });
                });

                // approve
                $(document).on('submit', '#approve-form', function (e) {
                    e.preventDefault()
                    const id = $(this).data('id');
                    console.log(id);
                    let form = this
                    let {
                        patientStatus,
                        doctorStatus,
                        supportStatus,
                        officeStatus,
                        adminStatus,
                        postOfficeStatus,
                        trackingIdStatus,
                    } = form

                    let inputs = {
                        patientStatus,
                        doctorStatus,
                        supportStatus,
                        officeStatus,
                        adminStatus,
                        postOfficeStatus,
                        trackingIdStatus,
                    }


                    let err = []

                    for (let key in inputs) {
                        if (!inputs[key].value) {
                            let text = inputs[key].previousElementSibling?.innerText
                            err.push(text)
                        }
                    }

                    if (err.length > 0) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            html: err.join('<br>'),
                        });
                    }
                    else {
                        let data = {}
                        for (let key in inputs) {
                            data = { ...data, [key]: inputs[key].value }
                        }
                        console.log(data);
                        fetch(`/patientform/approve/${id}`, {
                            method: "POST",
                            body: JSON.stringify(data),
                            headers: {
                                "Content-Type": "application/json"
                            },
                        })
                            .then((data) => {
                                return data.json()
                            })
                            .then((result) => {
                                // console.log(result);
                                if (result.success) {
                                    Swal.fire({
                                        title: "Success!",
                                        icon: "success",
                                        text: "Patient Form is Approved!",
                                        timer: 2000

                                    });
                                    e.target.reset()
                                    $('.approve-modal').modal('hide');
                                    window.location.reload()
                                }
                                else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "Error in Server",
                                        timer: 1000
                                    });
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                            })
                    }
                });



                $(document).on('click', '.logout-btn', function (e) {
                    Swal.fire({
                        title: "Do you want to Logout?",
                        showDenyButton: true,
                        // showCancelButton: true,
                        confirmButtonText: "Yes",
                        denyButtonText: `Cancel`
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {

                            $.ajax({
                                url: `/auth/logout`,
                                method: "POST",
                                success: function (data) {
                                    console.log(data);
                                    if (data.logout) {
                                        window.location.href = '/'
                                    }
                                    else {
                                        Swal.fire({
                                            icon: "error",
                                            title: "Oops...",
                                            text: "Something Went Wrong",
                                            timer: 1500
                                        });
                                    }
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            })
                        }
                    });
                })

                // track btn
                $(document).on('click', ".track-btn", function () {
                    let id = $(this).attr('data-id')
                    console.log(id);
                    navigator.clipboard.writeText(id)
                        .then(() => {
                            console.log("Copied to clipboard");
                            window.open('https://www.indiapost.gov.in/home', "_blank")
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                })

                var handleNavigation = function () {
                    $(".nav-control").on('click', function () {

                        $('#main-wrapper').toggleClass("menu-toggle");

                        $(".hamburger").toggleClass("is-active");
                    });
                }

                handleNavigation()
            </script>
    </body>

</html>